.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.login-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}

.ustp-logo {
  position: absolute;
  top: 30px;
  left: 220px;
  width: 150px;
}


.login-card {
  background: #fff;
  padding: 35px;
  width: 360px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.login-card h2 {
  color: #1a237e;
  margin-bottom: 20px;
}

.login-card label {
  font-size: 14px;
  font-weight: 600;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 6px 0 16px;
  border-radius: 8px;
  border: 1px solid #693636;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 16px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 6px;
    white-space: nowrap;
}

.remember input {
  margin: 0;
  cursor: pointer;
}


.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #f9a825;
  color: #fff;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
}

.google-btn {
  width: 100%;
  margin-top: 12px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer
}

.google-btn img {
  width: 18px;
}

.signup {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

.login-right {
  width: 100%;
  height: 100vh;
  background: url("/assets/images/USTP.jpg") center/cover no-repeat;
  position: relative;
}

.curve {
  position: absolute;
  left: -140px;
  top: 0;
  width: 280px;
  height: 100%;
  background: white;
  border-radius: 0 100% 100% 0;
}