.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #FDB913;
  color: white;
  font-size: larger;

  .logo img {
  height: 50px;   // adjust if needed
  width: auto;
  }

  .topbar {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .logout-btn {
  background-color:#061634;
  color:white;
  border: none;
  padding: 8px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

/* Hover effect */
.logout-btn:hover {
  background-color: #cc0000;
  transform: scale(1.05);
}

/* Click effect */
.logout-btn:active {
  transform: scale(0.95);
}
}
